#2D-UI {
  z-index: 2;
}

.data-menu-component {
  z-index: 2;
}

.vh {
  z-index: 2;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 10px !important;
  width: 10px !important;
  overflow: hidden;
}

[data-menu-component] {
  position: relative;
  display: inline-block;
}

label {
  display: inline-block;
}

[role="menu"] ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[data-opens-menu],
[role="menu"] a {
  line-height: 1;
  text-align: left;
  background: black;
  border: 0;
  color: #fff;
  padding: 0.33rem 0.5rem;
  text-decoration: none;
}

[type="checkbox"]:focus+[data-opens-menu],
[role="menu"] a:focus {
  outline: none;
  background: darkBlue;
}

:checked+label .expanded-text {
  display: inline;
}

:checked+label .collapsed-text {
  display: none;
}

[type="checkbox"]:not(:checked)+label .expanded-text {
  display: none;
}

[type="checkbox"]:not(:checked)+label .collapsed-text {
  display: inline;
}

[role="menu"] {
  position: absolute;
  left: 0;
  display: none;
}

:checked~[role="menu"] {
  display: block;
}

[data-menu-origin="right"] {
  left: auto;
  right: 0;
}

[role="menu"] a {
  display: block;
  min-width: 100%;
  margin-top: 0.125rem;
  white-space: nowrap;
}


/* Modal */
.modaloverlay {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  z-index: -1;
  display: none;
}

:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 99999;
}

.modal {
  background-color: white;
  height: 50%;
  width: 50%;
  top: 20%;
  position: relative;
  margin: 0 auto;
  padding: 3em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 60em) {
    height: 75%;
    margin: 5% auto;
    max-height: 57em;
    max-width: 66em;
    width: 85%;
  }

  /* >iframe,
    >div {
      border: none;
      width: 100%;
      height: 100%;
    } */
}

.close {
  background-color: turquoise;
  color: white;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 1;
}


/* styling for loading page */

#preloader-modal {
  background-color: black;
  width: 100%;
  height: 100%;
}

#inside-box-loading-screen {
  width: 40%;
  height: 20%;
  top: 40%;
  margin: 0 auto;
}